.main {
  display: flex;
  min-height: 80vh;
  padding: 6rem;
  align-items: center;
}

.asideContainer {
  flex: 0 0 25%;
  padding-right: 0rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  transition: background-color 0.3s;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.boxImage {
  padding: 10%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.box:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.headerContent h2,
.headerText {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  list-style: none;
}

.card {
  width: 80%;
  padding: 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

@media (prefers-reduced-motion) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

@media (max-width: 700px) {
  .main {
    padding: 4rem;
    flex-direction: column;
  }

  .asideContainer {
    width: 100%;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .boxContainer {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 1920px) {
  .main {
    padding: 2rem;
  }
  .asideContainer {
    width: 100%;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .boxContainer {
    flex-direction: column;
    gap: 1rem;
  }
}
