.main {
  display: flex;
  min-height: 80vh;
  padding: 6rem;
}

.sidebar {
  width: 25%;
  padding-right: 1rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

.headerContent h2,
.headerText {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 20%;
  list-style: none;
}

.card {
  padding: 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

@media (prefers-reduced-motion) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

@media (max-width: 700px) {
  .main {
    padding: 4rem;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1920px) {
  .main {
    padding: 2rem;
  }
}
